
li {
    display: inline-block;
    background-color:$fondo-menu;
   /*lo que mide cada boton del nav*/
    width: 180px; 
    height: 30px;

    a {
        text-decoration: none;  /*para que no tenga las palabras azules con subrayado*/
        color: rgb(3, 3, 3);
        
    &:hover{   /*la & se usa para esto del hover, no hay que poner el nombre de "a" de vuelta para anidarlo*/
    color: black;
    }
    }

/*TRANSFORMACIONES*/
/*estilo para cuando apoyo el mouse para cada boton li del nav*/

.inicio:hover{
    background-color: rgb(243, 243, 187);
    transform: scale(1.1,1.1);
}

.productos:hover{
    background-color: rgb(243, 243, 187) ;
    transform: scale(1.1,1.1);
}

.galeria:hover{
    background-color: rgb(243, 243, 187) ;
    transform: scale(1.1,1.1);
}
.contacto:hover{
    background-color: rgb(243, 243, 187) ;
    transform: scale(1.1,1.1);
}

.mapa:hover{
    background-color: rgb(243, 243, 187) ;
    transform: scale(1.1,1.1);
}

}

